@media (max-width :1100px){
  .card{
    width: calc(100% / 5);
  }
}

@media (max-width: 700px){
  .card{
    width: calc(100% / 3);
  }
}

@media (max-width: 600px){
  .side{
    width: 50px;

  }

  .side span{
    display: none;
  }

  .sidemenu .playlist{
    display: none;
  }

  .board{
    width: calc(100vw - 50px);
  }
}