*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CUSTOM */

:root{
  --home-color: #141922;
  --sidemenu-color:#000000;
  --header-color:#080b12;
  --playbar-color: #282828;
  --title-color: #ffffff;
  --subtitle-color: #7d7f84;
}

/* /CUSTOM */

/* GENERAL */
body{
  height: 100vh;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
  color: var(--subtitle-color);
}

h3{
  font-size: 0.95rem;
}
/* /GENERAL */

/* UTILITIES */
.debug{
  border: 1px solid darkgray;
  background-color: rgba(213, 226, 36, 0.325);
}
.d-flex{
  display: flex;
}

.fw-wrap{
  flex-wrap: wrap;
}

.jc-spb{
  justify-content: space-between;
}
.jc-c{
  justify-content: center;
}

.jc-fe{
  justify-content: flex-end;
}

.txt-c{
  text-align: center;
}

.of-a{
  overflow: auto;
}

.ai-c{
  align-items: center;
}

.txt-tran{
  text-transform: uppercase;
}
.grey{
  color:var(--subtitle-color) ;
}

.white{
  color: var(--title-color);
}
.w-7{
  font-weight: 700;
}

.w-6{
  font-weight: 600;
}

.pd05{
  padding: 0.5rem;
}

.br-50{
  border-radius: 50%;
}

.rel{
  position: relative;
}
.abs{
  position: absolute;
}

.trans-ease05{
  transition: 0.5s ease;
}

.ft-s06{
  font-size: 0.6rem;
}

.ft-s08{
  font-size: 0.8rem;
}

.ft-s085{
  font-size: 0.85rem;
}

.ft-s1{
  font-size: 1rem;
}

.ft-s12{
  font-size: 1.2rem;
}

.ft-s20{
  font-size: 2rem;
}

.pdl15{
  padding-left: 15px;
}


/* /UTILITIES */

/* MAIN */
.home{
  height: calc(100vh - 90px);
}

/* MAIN SIDE */
.side{
  width: 230px;
  height: 100%;
  background-color: var(--sidemenu-color);
}

.logo{
 height: 90px;
 width: 100%;
 padding-top: 15px;
}
.logo .logo-big{
  width: 145px;
  height: 50px;
}

.logo .logo-small{
  width: 30px;
  height: 30px;
  display: none;
}


.sidemenu{
  height: calc(100% - 85px);
}


/* MAIN SIDE LIBRARY */
.library{
  height: 120px;
}

.sidemenu .library li{
  border: 2px solid transparent;
  margin-bottom: 2px;

}


.sidemenu .library-image{
  width: 25px;
  height: 25px;

}

.sidemenu .library li:hover{
  border-left: 2px solid greenyellow;
  cursor: pointer;
}

.sidemenu .library li:hover path{
  fill: var(--title-color);
}

.sidemenu .library li:hover .library-text{
  color: var(--title-color);
}

/* /LIBRARY */

/* MAIN SIDE PLAYLIST */

.sidemenu .playlist{ 
  height: calc(100% - 120px);
}

.sidemenu .playlist .playlist-top{
  height: 80px;
}

.sidemenu .playlist .playlist-top h3{
  line-height: 30px;
 }


 /* PLAYLIST LIST */

.sidemenu .playlist .playlist-list{
  height: calc( 100% - 160px );
}

.playlist li{
  padding: 0.5rem 0;
}
.playlist i{
font-size: 2.5rem;
}

.playlist p span{
  padding-left: 5px;
}

.playlist li:hover{
  color: var(--title-color);
  cursor: pointer;
}

.playlist p:hover{
  color: var(--title-color);
  cursor: pointer;
}
/* /PLAYLIST LIST */

/* PLAYLIST BOTTOM */
.playlist-bottom{
  height: 80px;
  
}

.download-image{
  width: 15px;
  height: 15px;
}

.download span{
  padding-left: 15px;
}

.download span a:hover{
  color: var(--title-color);
}

.line{
  height: 0.05rem;
  background-color: var(--subtitle-color);
  width: 90%;
  margin: 5px 0;
}
.user-image{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
}

.user-image img{
  background-color: var(--subtitle-color);
  border-radius: 50%;

}



.user span{
  padding-left: 10px;
}

.user span a:hover{
  color: var(--subtitle-color);
}


/* /PLAYLIST */

/* /SIDE */


/* MAIN BOARD */

.board{
  width: calc(100vw - 230px);
  background-color: var(--home-color);
}
/* MAIN BOARD TOP */

.board-top{
  height: 90px;
  background-color: var(--header-color);
  position: sticky;
  opacity: 0.8;
  z-index: 2;
  top: 0;


}

.button{
  border: 2px solid var(--title-color);
  padding: 0.6rem 2.0rem;
  border-radius: 2.0rem;
  margin-right: 20px;
}

.button a{
color: var(--title-color);
text-transform: uppercase;
font-weight: 600;
}

.button:hover{
  scale: 1.2;
  cursor: pointer;
}
.button:hover a{
  scale: 1.2;
}

/* /TOP */

/* BOARD CARDS */
.board-main li:hover{
  cursor: pointer;
  border-bottom: 2px solid greenyellow;
}

.board-main li:hover a{
  color: var(--title-color);
}

.board-main li{
  margin: 0.9rem 0.5rem;
  border: 2px solid transparent;
}

#cards{
  padding: 3rem 0;
  padding-left: 1.5rem;
}

.card{
  width: calc( 100% / 7 );
  margin: 2rem 0;
  margin-right: 1.2rem;
  height: auto;
}

.overlay{
  transition: 0.5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover img{
  opacity: 0.3;
  cursor: pointer;
}

.card:hover .overlay{
  opacity: 1;
  cursor: pointer;
  
}


.overlay i{
  color: white;
  font-size: 40px;
  padding: 16px 32px;
}


.subtitle{
  font-size: 0.8rem;
}

/* /BOARD CARDS */

/* /MAIN */

/* FOOTER PLAYBAR */

.playbar{
  height: 90px;
  background-color: var(--playbar-color);
}

.playbar li{
  padding: 0.5rem 3%;
}

/* PLAYBAR LEFT */

.image-small{
  width: 45px;
  height: 45px;
  margin: 0.5rem;
}
.song{
  padding-right: 5px;
}
.icons i{
    padding: 0 3px;
}
.icons i:hover{
  cursor: pointer;
  color: var(--subtitle-color);
}
.p-right .icons i:hover{
  color: var(--title-color);
}

/* PLAYBAR CENTER */

.console ul li i:hover{
  cursor: pointer;
  color: var(--subtitle-color);
}

.console ul li:nth-child(3) i:hover{
  scale: 1.2;
  color: var(--title-color);

}
/* TIME BAR */
.progress {
  margin-top: 5px;
  height: 0.2rem;
  width: 70%;
  background-color: var(--subtitle-color);
}

.progress .bar {
  height: 100%;
  width: 25%;
  background-color: white;
  display: block;
}

.progress-handle{
  display: none;
  left: 25%;
  z-index: 1;
  margin-top: -4px;
  width: 10px;
  height: 10px;
  border: 4px solid var(--title-color);
  border-radius: 100%;
  background-color: var(--title-color);
}

.progress:hover{
  cursor: pointer;
}

.progress:hover .progress-handle{
  display: block;
  cursor: pointer;
}
.progress:hover .bar{
  background-color: greenyellow;
}

.time{
  padding: 10px;

}
/* /TIME BAR */
.col{
  width: 230px;
  height: 100%;

}

.centre{
  width: 50%;

}
/* /PLAYBAR CENTER */

/* PLAYBAR RIGHT */

.console{
  height: 50%;
  padding-top: 10px;
  margin-bottom: 5px;
}

.progress.volume{
  width: 50%;
  margin-left: 5px;
}

.progress-handle.volume{
  left: 20%;
}
/* /PLAYBAR */

/* /FOOTER */



